/* style.scss */

@import "normalize";
@import "compass/css3";

* { 
	//-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
	margin:0;padding:0;
}


/* SASS VARIABLES	
================================================== */

	
	/* INHERITANCE */


/* BODY / DEFAULTS
================================================== */
body {
	margin:0px;padding:0px;
}
* {
	margin:0;padding:0;
    -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box; 
        -ms-box-sizing: border-box;
            box-sizing: border-box; 
	//*behavior: url(assets/box-sizing.htc); //conditional for ie

	&:after, &:before {
		-webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	        -ms-box-sizing: border-box;
	            box-sizing: border-box;
	}
}
html {overflow-y:scroll;}

// h2.hr {
// 	border-bottom:1px solid #cacaca;
// 	padding-bottom:15px;
// 	margin-bottom:15px;
// }
	
/* COLOR CLASSES
================================================== */


/* CONTENT
================================================== */
.loading {
	position:absolute;top:50%;left:50%;
	margin:-10px 0 0 -110px;
	width:220px;height:20px;
	background:url('../img/ajax-loader.gif');
}
#content {
	display:none;
	position:relative;
	padding-top:10px;
}




/* TYPOGRAPHY
================================================== */
h2.hr {
	position:relative;
	height: 41px; //+1px for box-sizing
	line-height: 40px;
	padding:0;
	margin:0;
	font-size:20px;
	@include border-radius(4px 4px 0 0);
	width:100%;
	display:block;
}

	img.icn-header {
		float:none;
		line-height:40px;
		margin:0 10px 0 5px;padding:0;
		position:relative;top:0px;
		float:left;
		@include border-radius(4px 0 0 0);

	}


.flex-row {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flexbox;
	margin-bottom:30px;
}

.feed {
	h4 a {font-size:inherit;}
	a,span,p {font-size:12px;}
	@include border-radius(0 0 4px 4px);
	float:none !important;
	
}

	.feed-inner {
		padding:10px;
		

		.feed-inner-wrap {
			
		}
	}


/* FEED MIXIN
================================================== */
@mixin feed-colors($color1:#f7f7f7, $color2:#f3f3f3, $color-alt-bool:false, $color-alt:#2a2a2a) {

	background:$color1;border:1px solid darken($color1, 5);

	@if $color-alt-bool == true {
		h2 {background: $color2;color:$color-alt;border-bottom:1px solid darken($color2, 5);}
	} @else {
		h2 {background: $color2;color:$color1;border-bottom:1px solid darken($color2, 5);}
	}
}



/* Hacker News
================================================== */
#hackernews {
	@include feed-colors(#fdf2ea,#f28736);
}


/* Designer News
================================================== */
#designernews {
	@include feed-colors(#f1f6fd,#164fa5);
}

/* Github
================================================== */	
#github {
	@include feed-colors(#f7f7f7,#f3f3f3, true, #2a2a2a);
	
	p {margin-bottom:3px;}
}

/* Nettuts
================================================== */
#nettuts {
	@include feed-colors(#ebfdfa,#4aa699);	
}


/* Dribbble
================================================== */
#dribbble {
	clear:both;
	&:after {position:absolute;content:'';width:0;height:0;clear:both;}
	
	.dribbble_shot {
		float:left;
		width:47%;
		margin-right:15px;
		margin-bottom:15px;

		&:nth-child(2n) {margin-right:0px;}
	}
	img.dribbble_shot_thumb {
		display:block;
		width:100%;
	}
}



/* Stack Overflow
================================================== */
#stackoverflow {

	.stackoverflow_answered {

		.answered   {color:#46a546;}
		.unanswered {color:#9d261d;}
	}

	.stackoverflow_tags {
		color:#6baec2;
	}
}




/* XML Feeds
================================================== */
.xmlfeed_desc a {color:gray;font-weight:600;}







































	

































