/* style.scss */

@import "normalize";
@import "compass/css3";

* { 
	//-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
	margin:0;padding:0;
}


/* SASS VARIABLES	
================================================== */

	
	/* INHERITANCE */


/* BODY / DEFAULTS
================================================== */
body {
	margin:0px;padding:0px;
}
h2.hr {
	border-bottom:1px solid #cacaca;
	padding-bottom:15px;
	margin-bottom:15px;
}
	
/* COLOR CLASSES
================================================== */


/* CONTENT
================================================== */
.loading {
	position:absolute;top:50%;left:50%;
	margin:-10px 0 0 -110px;
	width:220px;height:20px;
	background:url('../img/ajax-loader.gif');
}
#content {
	display:none;
	position:relative;

}


/* TYPOGRAPHY
================================================== */
h1.hr {
	height:40px;
	line-height:40px;
}
img.icn-header {
	float:left;
	height:40px;
	margin:10px 15px 10px 0;
	border:1px solid #8a8a8a;
	line-height:40px;
}


.feed {
	h4 a {font-size:inherit;}
	a,span,p {font-size:12px;}
}




/* Github
================================================== */	
#github {
	ul {
		margin:0;padding:0;
		list-style-type:none;

		li {}

		> li {
			clear:both;
			margin:0 0 25px 0;
			float: left;
			width: 100%;
		}

		ul.repo-stats {
			width:12%;float:right;

			li {
				height:25px;width:100%;
				display:block;
				//@include box-shadow(0 0 1px 1px rgba(black,.1));
				@include border-radius(3px);
				background:#f9f9f9;
				border:1px solid #f1f1f1;
				text-align:center;
				line-height:25px;
				margin:0 0 7px 0;


				a {
					display:block;
					color:#2a2a2a;
					font-size:13px;
					width:100%;
			
					span {font-size:13px;}
				}

				&:hover {
					background:#f5f5f5;
					a {text-decoration:none;}
				}
			}
			
		}

		h3 {
			font-size:20px;
			line-height:1;
		}
	}

	p {
		margin-bottom:5px;
	}
}


/* Dribbble
================================================== */
#dribbble {
	clear:both;
	&:after {position:absolute;content:'';width:0;height:0;clear:both;}
	
	.dribbble_shot {
		float:left;
		width:47%;
		margin-right:15px;
		margin-bottom:15px;

		&:nth-child(2n) {margin-right:0px;}
	}
	img.dribbble_shot_thumb {
		display:block;
		width:100%;
	}
}



/* Stack Overflow
================================================== */
#stackoverflow {

	.stackoverflow_answered {

		.answered   {color:#46a546;}
		.unanswered {color:#9d261d;}
	}

	.stackoverflow_tags {
		color:#6baec2;
	}
}




/* XML Feeds
================================================== */
.xmlfeed_desc a {color:gray;font-weight:600;}







































	

































